# Docker Development Environment
# Copy this file to .env.docker when running in Docker
# Use host.docker.internal to access services on host machine (Windows/Mac)
# For Linux, use network_mode: 'host' in docker-compose.dev.yml

VITE_API_BASE_URL_AUTH=http://host.docker.internal:5001
VITE_API_BASE_URL_USER=http://host.docker.internal:5002
VITE_API_BASE_URL_DATA=http://host.docker.internal:5004
VITE_API_BASE_URL_STATION=http://host.docker.internal:5006
VITE_API_BASE_URL_STATISTICS=http://host.docker.internal:5007
VITE_API_BASE_URL_REPORT=http://host.docker.internal:5005
